body {
    background-color: #DDD;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    background-color: #f5f5f5;
}

.width-100 {
    width: 100%;
}

.bg-blue-custom {
    background-color: #7cadde;
}

.card-link {
    text-decoration: none;
}

.card-body-effect {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.card-body-effect:hover {
    background-color: #2F3133;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.table-list td {
    vertical-align: baseline;
    padding: 6px;
}

.actions > a {
    text-decoration: none;
    padding: 0 6px;
    font-size: 20px;
}

.table-list > thead th {
    border-bottom: 2px solid #69757c !important;
    border-top: none;
    padding: 0.50rem 0 0 6px;
}